.controlsContainer {
  display: flex;
  justify-content: center;
  margin: 0.5em 1em 1em 1em;
}

.betContainer {
  display: flex;
  align-items: center;
  color: white;
  /* margin: 0 0.5em; */
  /* padding: 0 1em; */
  width: 50%;
  border-bottom: 5px solid white;
}

.input {
  width: 20%;
  /* flex-grow: 1; */
  margin: 0;
  text-align: right;
  border-bottom: 2px solid #d3d3d3;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: white;
}

.inputError {
  width: 20%;
  /*  flex-grow: 1; */
  margin: 0 0 0 0.5em;
  font-size: 100%;
  text-align: right;
  margin: 5px;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: red;
}

.input::-webkit-inner-spin-button,
.inputError::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 37px;
  background: transparent;
  border: none;
  padding-left: 5vh;
  padding-right: 5vh;
  font-weight: bolder;
  text-shadow: 0px 4px 2px rgba(240, 235, 235, 0.32), 0px 1px 0px #6182ca,
    0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}

.btn-hidden {
  display: none;
}

.btn:active {
  top: 4px;
  box-shadow: none;
}

/* @media (hover: hover) {
  .btn:hover {
    color: black;
    background: white;
    border: 5px solid black;
  }
} */

.btn:disabled {
  color: gray;
  background: rgb(60, 60, 60);
  border: 5px solid gray;
}

@media screen and (max-width: 992px) {
  .betContainer {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .betContainer {
    width: 70%;
  }
  .betContainer h1 {
    font-size: 75%;
  }
  .betContainer input {
    font-size: 125%;
  }
}
.bet-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-left: solid 6px #ff7c5c;
  color: #fff;
  background: #080808;
  border: solid 1px #080808;
  border-radius: 10px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.bet-button:active {
  /*onClick*/
  border: solid 1px #03a9f4;
  box-shadow: none;
  text-shadow: none;
}
