.statusContainer {
  display: flex;
  justify-content: center;
  margin-top: -5vh;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.balance {
  display: flex;
  align-items: center;
  /*  justify-content: left !important; */
  margin: 0;
  /* padding: 0.2em; */
  width: 20%;
  /* background: black;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0); */
}

.button {
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 0.5em 1em 0.5em 0.5em;
  padding: 1em;
  width: 20%;
  background: black;
  outline: none;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
}

.value {
  color: white;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .value {
    font-size: 150%;
  }
}

@media screen and (max-width: 600px) {
  .value {
    font-size: 115%;
  }
}
