* {
  box-sizing: border-box;
}
body {
  /*  background: rgb(0, 78, 0); */

  background-image: url("images/bj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: "Lexend Exa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
